@import url('normalize.less');
@import url('grid.less');
@import url('mixins.less');

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
	-moz-box-sizing: @boxmodel;
	box-sizing: @boxmodel;
}

.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}

.transition(@type: all, @time: .25s){
	-webkit-transition: @type @time;
	-moz-transition: @type @time;
	-o-transition: @type @time;
	transition: @type @time;
}

.inlineBlocker(@vAlign: top){
	display: inline-block;
	*display: inline;
	vertical-align: @vAlign;
	*vertical-align: @vAlign;
}

.textMask{
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-size: 0; /* 'Hide' bg image for all */
	-webkit-background-size: auto; /* But show bg image for Webkit/Opera */
	-o-background-size: 0; /* Hide for Opera. Does *NOT* work (in newer Opera's). Needs hack below :( */
}

.background-size(@size: cover) {
	-webkit-background-size: @size;
	-moz-background-size: @size;
	-o-background-size: @size;
	background-size: @size;
}

/* FORMS */
.form(@color) {
	form {
		font-family: @fontSans;
		font-weight: @fontSansLight;

		fieldset {
			border: 0px;
			margin: 0px;
			padding: 0px;

			.formField {
				.inlineBlocker;
				width: 32%;
				margin-bottom: 15px;

				&.formSubmit {
					display: block;

					input {
						width: 180px;
					}
				}
				.select-wrapper {
					width: 95%;
					line-height: 1;
					margin-top: 8px;

					select {
						width: 100%;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						border: 0px;
						border-radius: 0px;
						background-color: lighten(@color, 8%);
						color: darken(@color, 13%);
						font-size: 0.8em;
						padding: 6px 18px;
						font-weight: @fontSansLight;
						border-left: 4px solid darken(@color, 8%);
						.transition;
					}
				}

				label {
					display: block;

					&.formError {
						font-size: 0.6em;
						width: 100%;
						line-height: 1.2;
						margin-top: 10px;
						color: darken(@color, 15%);
					}
				}

				input {
					.box-sizing(border-box);
					border: 0px;
					background-color: lighten(@color, 8%);
					color: darken(@color, 13%);
					font-size: 0.8em;
					padding: 6px 18px;
					font-weight: @fontSansLight;
					border-left: 4px solid darken(@color, 8%);
					width: 95%;
					.transition;

					&:focus {
						background-color: lighten(@color, 14%);
						outline: none;
						border-left-width: 8px;
					}
					&:hover {
						background-color: lighten(@color, 14%);
						border-left-width: 8px;
					}
				}
			}
		}
	}
}

/* Widths */
@maxWidth: 1440px;
@defaultWidth: 1150px;

@media0: ~"(min-width: 1440px)";
@media0_: ~"(max-width: 1439px)";

@media1: ~"(min-width: 1200px)";
@media1_: ~"(max-width: 1199px)";

@media2: ~"(min-width: 960px)";
@media2_: ~"(max-width: 959px)";

@media3: ~"(min-width: 720px)";
@media3_: ~"(max-width: 719px)";

@media4: ~"(min-width: 480px)";
@media4_: ~"(max-width: 479px)";

/* Colors */
@green: rgb(0, 116, 107);
@greenLight: rgb(104, 171, 168);	
@blue: rgb(0, 87, 163);
@red: rgb(220, 55, 63);
@cyan: rgb(23, 164, 221);
@orange: rgb(247, 141, 31);

@black: rgb(0, 0, 0);
@greyDarkest: rgb(37, 37, 37);
@greyDarker: rgb(59, 59, 59);
@greyDark: rgb(70, 70, 70);
@greyMid: rgb(87, 87, 87);
@grey: rgb(125, 125, 125);
@greyLight: rgb(146, 146, 146);
@greyLighter: rgb(206, 206, 206);
@greyLightest: rgb(214, 214, 214);
@greyLightester: rgb(235, 235, 235);
@white: rgb(255, 255, 255);

/* Fonts */
@fontSerif: "ff-tisa-web-pro",serif;
@fontSans: "futura-pt",sans-serif;
@fontSansLight: 300;
@fontSansBook: 400;
@fontSerifRegular: 400;
@fontSerifBold: 700;

.centerContent() {
	max-width: @maxWidth;
    margin: 0px auto;

	@media only screen and @media0 {
		    margin: 0px auto;
			// width: @defaultWidth;
			position: relative;
		}

		@media only screen and @media1 and @media0_{
		    margin: 0px auto;
			width: 80%;
			position: relative;
		}

		@media only screen and @media2 and @media1_{
		    margin: 0px auto;
			width: 80%;
			position: relative;
		}

		@media only screen and @media3 and @media2_{
		    margin: 0px auto;
			width: 80%;
			position: relative;
		}

		@media only screen and @media4 and @media3_{
		    margin: 0px auto;
			width: 90%;
			position: relative;
		}

		@media only screen and @media4_{
		    margin: 0px auto;
			width: 90%;
			position: relative;
		}
}

/* Global */
html {
	font-size: 62.5%;
}

body {
	font-family: @fontSerif;
	font-weight: 400;
	font-size: 1em;
	color: @grey;
}
img {
	max-width: 100%;
}
a:link {
	color: @greyDarker;
	text-decoration: none;
}
a:hover {
	color: @greyDarker;
	text-decoration: none;
}
a:visited {
	color: @greyDarker;
	text-decoration: none;
}


/* Navigation */

.menuButton{
	font-size: 3.6em;
	color: @green;
	text-align: center;
	padding: 0px 0px 3px;
	display: none;
	border-top: 1px solid transparent;

	.showMenu & {
		border-top: 1px solid @grey;
	}
	@media only screen and @media3_{
		display: block;
	}
	&:hover{
		cursor: pointer;
		background-color: @white;
	}
}

// .showMenu{
// 	left: 1% !important;
// }

.headerMenu {
	position:fixed;
	width: 100%;
	z-index: 400;
	padding-top: 30px;
	background-color: @greyLightest;
	background-image: url('../images/graphics/bg-pattern.jpg');
	.box-sizing(border-box);

	.centerContent {
		.centerContent();
	}
	
	.header-top {

		#logo {
			.inlineBlocker();
			.box-sizing(border-box);
			width: 48%;
			padding-left: 10%;

			@media only screen and @media1 and @media0_ {
				padding-left: 2%;
			}

			@media only screen and @media1_ {
				padding-left: 0%;
			}

			a {
				.inlineBlocker(bottom);
				width: 115px;
			}
		}
		.social-media {
			.inlineBlocker();
			.box-sizing(border-box);
			width: 50%;
			text-align: right;
			padding:24px 9%;

			@media only screen and @media1 and @media0_ {
				padding: 24px 2%;
			}

			@media only screen and @media1_ {
				padding-right: 0%;
			}

			.hashtag {
				font-size: 1.5em;
				font-family: @fontSans;
				margin-bottom: 6px;
				color: @greyMid;
			}

			ul {
				list-style: none;
				margin: 0px;
				padding: 0px;

				li {
					.inlineBlocker();
					margin-left: 5px;
					width: 26px;

					img {
						width: 26px;
					}
				}
			}
		}
	}
	#nav-bar {
		background-color: @white;
		margin-top: 15px;
		border-bottom: 1px solid @grey;

		ul {
			margin: 0px;
			padding: 0px;
			text-align: center;

			li {
				.inlineBlocker;

				@media only screen and @media3_ {
					display: block;
				}

				a {
					display: block;
					font-family: @fontSans;
					font-size: 2.4em;
					text-transform: uppercase;
					font-weight: @fontSansLight;
					line-height: 100%;
					padding: 20px 42px;

					&:hover {
						color: @green;
					}

					@media only screen and @media2 and @media1_ {
						padding: 20px 22px
					}

					@media only screen and @media3 and @media2_ {
						font-size: 1.6em;
						padding: 20px;
					}
				}
			}
		}
	}
}


/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding: 270px 0;
	background-color: @greyLightest;
	background-image: url('../images/graphics/bg-pattern.jpg');

	.container{
	    max-width: @maxWidth;
	    margin: 0px auto;
		width: 70%;

		@media only screen and @media0 {
		    margin: 0px auto;
			width: 70%;
		}

		@media only screen and @media1 and @media0_{
		    margin: 0px auto;
			width: 70%;
		}

		@media only screen and @media2 and @media1_{
		    margin: 0px auto;
			width: 60%;
		}

		@media only screen and @media3 and @media2_{
		    margin: 0px auto;
			width: 70%;
		}

		@media only screen and @media4 and @media3_{
		    margin: 0px auto;
			width: 90%;
		}

		@media only screen and @media4_{
		    margin: 0px auto;
			width: 90%;
		}
	        
	}

}

#home {
	padding: 240px 0px 0px;

	.intro {

		.logo-big {
			.inlineBlocker;
			width: 36%;
			margin-right: 2%;
		}
		.intro-content {
			.inlineBlocker;
			width: 60%;

			h2 {
				color: @blue;
				font-size: 1.6em;
				font-weight: @fontSerifRegular;
				margin-top: 0.7em;
			}

			p {
				font-size: 0.6em;
				line-height: 1.4;
			}
		}
	}
}

#guestbook {
	background-color: @green;
	background-image: none;
	color: @white;
	padding: 50px 0px 100px;

	.pageInfo {

		h2 {
			font-size: 1.7em;
			font-weight: @fontSerifRegular;
			text-transform: capitalize;
			margin-bottom: 0.5em;
		}
	}
	.all-content {

		.guest-posts {
			.inlineBlocker;
			width: 48%;
			border-top: 1px solid @white;
			border-bottom: 1px solid @white;
			font-family: @fontSans;
			font-weight: @fontSansLight;
			margin-right: 2%;

			ul {
				margin: 0px;
				padding: 0px;
				list-style: none;

				li {
					border-top: 1px solid @greenLight;
					padding: 10px 0px 10px 24px;

					&:first-child {
						border: 0px;
					}

					p {
						margin: 0px;
						font-size: 0.9em;
						line-height: 1;
					}
					.company {
						font-size: 0.7em;
					}
				}
			}
		}
		.video-player {
			.inlineBlocker;
			.box-sizing(border-box);
			width: 50%;
			padding: 20px 0px 1px;
			background-color: @white;
			border: 1px solid @greyLight;
			margin-top: -160px;

			h3 {
				color: @green;
				font-size: 1.5em;
				font-weight: @fontSerifRegular;
				text-transform: capitalize;
				margin: 0.5em 0;
				padding: 0px 0.5em;
			}
		}
	}
}

#sponsors {
	background-color: @blue;
	background-image: none;
	color: @white;

	.pageInfo {

		h2 {
			font-size: 2.2em;
			font-weight: @fontSerifRegular;
			text-transform: capitalize;
			margin-bottom: 1em;
		}
	}
	.all-content {
		h3 {
			font-weight: @fontSerifRegular;
			text-transform: uppercase;
			margin: 1em 0px;
			border-bottom: 2px solid darken(@blue, 10%);
			padding-bottom: 0.7em;
		}

		ul {
			margin: 0px;
			padding: 0px;

			li {
				.inlineBlocker;
				.box-sizing(border-box);
				padding-right: 20px;
				padding-bottom: 20px;

				.sponsor-wrapper {
					
					.featuredImage {
						background-color: @white;
						padding:40px;
						.box-sizing(border-box);
						text-align: center;

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}
					.the_title,
					.sponsor_website {
						display: none;
					}
				}
			}
		}
		.platinum {

			.featuredImage {
				width: 328px;
				height: 328px;
			}
		}
		.gold {

			.featuredImage {
				width: 250px;
				height: 250px;
			}
		}
		.silver {

			.featuredImage {
				width: 200px;
				height: 200px;
			}
		}
	}
}

#events {
	background-color: @red;
	background-image: none;
	color: @white;

	.pageInfo {

		h2 {
			font-size: 2.2em;
			font-weight: @fontSerifRegular;
			text-transform: capitalize;
			margin-bottom: 1em;
		}
	}
	.all-content {
		
		.event {
			font-family: @fontSans;
			font-weight: @fontSansLight;
			margin-bottom: 2em;
			padding-left: 3%;

			h3 {
				font-family: @fontSerif;
				font-weight: @fontSerifRegular;
				text-transform: uppercase;
				margin: 1em 0em 1em -3%;
				border-bottom: 2px solid darken(@red, 10%);
				padding-bottom: 0.7em;
			}
			.speakers {
				margin: 0px;
				padding: 0px;
				list-style: none;

				li {
					.inlineBlocker;
					border: 0px;
					background-color: lighten(@red, 8%);
					font-size: 0.8em;
					padding: 0px 18px;
					font-weight: @fontSansLight;
					border-bottom: 4px solid darken(@red, 8%);
					margin-right: 15px;
					.transition;

					a {
						color: darken(@red, 13%);
					}

					&:first-child {
						display: block;
						border: 0px;
						background-color: transparent;
						color: @white;
						padding: 0px;

						&:hover {
							background-color: transparent;
							box-shadow: none;
						}
					}

					&:hover {
						background-color: lighten(@red, 14%);
						box-shadow: inset 0px -4px 0px darken(@red, 8%);
					}

					h4 {
						font-family: @fontSerif;
						font-weight: @fontSerifRegular;
						font-size: 1em;
						margin: 1em 0em 0.2em;
						text-transform: uppercase;
					}
				}
			}
		}

		.form(@red);
	}
}

#speakers {
	background-color: @cyan;
	background-image: none;
	color: @white;

	.pageInfo {

		h2 {
			font-size: 2.2em;
			font-weight: @fontSerifRegular;
			text-transform: capitalize;
			margin-bottom: 1em;
		}
	}
	.all-content {
		h3 {
			font-weight: @fontSerifRegular;
			text-transform: uppercase;
			margin: 1em 0px;
			border-bottom: 2px solid darken(@cyan, 10%);
			padding-bottom: 0.7em;
		}

		ul {
			margin: 0px;
			padding: 0px;

			li {
				.inlineBlocker;
				.box-sizing(border-box);
				padding-right: 20px;
				padding-bottom: 40px;
				width: 262px;

				.speaker-wrapper {
					font-size: 0.75em;
					font-family: @fontSans;
					font-weight: @fontSansLight;
					line-height: 1.5;
					
					.featuredImage {
						max-height: 250px;
						overflow: hidden;

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}
					.fullName {
						margin: 0px;
						font-size: 1.4em;
						font-weight: @fontSansBook;

						a {
							color: darken(@cyan, 20%);
						}
					}
				}
			}
		}
	}
}

#contact {
	background-color: @orange;
	background-image: none;
	color: @white;

	.pageInfo {

		h2 {
			font-size: 2.2em;
			font-weight: @fontSerifRegular;
			text-transform: capitalize;
			margin-bottom: 1em;
		}
	}
	.all-content {

		.form(@orange);
	}
}

/*-----------------------------------------------------------------------------------*/
/*	ASSETS
/*-----------------------------------------------------------------------------------*/
// Speaker's Bio/Shadowbox
.speaker-popup {
	padding: 25px;
	font-family: @fontSans;
	font-weight: @fontSansLight;

	h3 {
		font-size: 3em;
		color: @green;
		margin: 0px;

		span {
			color: @greyDark;
		}
	}
	.more-info {
		font-size: 2em;
		color: @greyDark;
		margin-bottom: 20px;
	}
	.photo {
		max-width: 200px;
		margin-right: 15px;
		margin-bottom: 15px;
		float: left;
	}
	.the_content {
		font-size: 2em;
		color: @grey;
		clear: both;
	}
}

/*-----------------------------------------------------------------------------------*/
/*	DELETE
/*-----------------------------------------------------------------------------------*/
// #guestbook .video {
// 	display: none;
// }

// #sponsors {
// 	background-color: @green;
// 	background-image: none;
// 	color: @white;

// 	.pageInfo {

// 		h2 {
// 			font-size: 1.7em;
// 			font-weight: @fontSerifRegular;
// 			text-transform: capitalize;
// 			margin-bottom: 0.5em;
// 		}
// 	}
// 	.all-content {

// 	}
// }

// #sample-page{
// //	background-image: url('http://174.136.12.85/~retech/wp-content/themes/retech/images/graphics/backer1.jpg');
// 	.gradient(@white, @grey);
// 	color: @greyDarker;
// 	.box-shadow(0px 3px 10px @black);
// 	.container{
// 		width: 76%;
// 		margin-left: 20%;
// 		@media only screen and @media4_{
// 			width: 100%;
// 			margin-left: 0%;
// 		}
// 	}
// }